<head>
    <style>
    td {
        font-size: 3em;
    }

    table, th, td {
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
    }

    </style>
</head>
<body>
    <table>
    {% for row in rows %}
        <tr>
        {% for item in row %}
        <td>{{ item }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
